@charset "UTF-8";
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.headerbox{
	margin: 0 auto;
	display: flex;
	width: 90%;
	height: 130px;
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
}
h1 a{
	text-decoration: none;
	color: #000;
}
.headinput{
	width: 20%;
	height: 30%;
	border-radius: 50px;
	font-size: 20px;
	padding-left: 20px;
	margin-left: 70px;
}
.headbtn{
	width: 100px;
	height: 30%;
	border-radius: 50px;
	font-size: 18px;
	margin-right: 70px;
}
.welcome{
	text-align: center;
}
.libox, .lobox{
	text-align: center;
}
.libox a{
	text-decoration: none;
	color: #000;
}
.lobox a{
	text-decoration: none;
	color: #000;
}
.memberbox{
	display: flex;	
	gap: 15px;
}
.memberbox div a{
	text-decoration: none;
	color: #000;
}
.memberchild{
	text-align: center;
}