@charset "UTF-8";
main{
	width: 100%;
}
.container{
	width: 70%;
	margin-top: 30px;
}
nav{
	display: flex;
	background-color: darkred;
	height: 65px;
	justify-content: center;
	gap: 130px;
	align-items: center;
}
nav div a{
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.nav1.clicked a{
	color: #ffe880;
}
h3{
	font-family: 'Noto Sans KR', sans-serif;
	margin-bottom: 20px;
}
.navtitle{
	margin-left: 100px;	
	margin-bottom: 20px;
}
.recdiv, .easydiv, .dietdiv, .healthdiv{
	width: 100%;
	height: 400px;
	display: flex;
	gap: 40px;
	margin-bottom: 30px;
}
.arrow{
	padding-top: 150px;
	cursor: pointer
}
.recmeal, .easymeal, .dietmeal, .healthmeal{
	width: 350px;
	height: 100%;
	/* box-sizing: border-box; */
}
.recphoto, .easyphoto, .dietphoto, .healthphoto{
	width: 100%;
	height: 50%;
	background-color: #ccc;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	overflow: hidden;
}
.reccontent, .easycontent, .dietcontent, .healthcontent{
	width: 100%;
	height: 50%;
	background-color: floralwhite;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-left: 10px;
}
.cook{
	display: flex;
	justify-content: space-around;
	gap: 10px;
}
.detail{
	width: 95%;
	display: flex;
	gap: 10px;
	text-align: center;
	margin-top: 10px;
}
.detail button{
	width: 150px;
	border-radius: 10px;
}