@charset "UTF-8";

.container{
	display: flex;
	gap: 60px;
	width: 90%;
	margin: 0 auto;
}
.profile{
	border: 2px solid #000;
	width: 250px;
	height: 350px;
	text-align: center;
	padding-top: 20px;
}
a button{
	cursor: pointer;
}
.fa-solid fa-pen{
	cursor: pointer;
}
.recipe{
	width: 65%
}
.fa-circle-user{
	display: inline-block;
	padding-bottom: 20px;
}
.userinfo{
	display: flex;
  	justify-content: center;
  	gap: 10px;
}
.userecipe{
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}
.imgli{
	text-align:center;
}
.iteminfo{
	display: flex;
	list-style: none;
	position: relative;
}
.viewli{
	position:absolute;
	top:80%;
	left: 18%;
}
.rcli{
	position:absolute;
	top:80%;
	left: 35%;
}
.editli{
	position:absolute;
	top:80%;
	right: 15%;
}
.delli{
	position:absolute;
	top: 80%;
	right: 8%;
}
.editbtn{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
#del{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.follow{
	display: flex;
  	justify-content: center;
  	gap: 20px;
}
.itemtitle{
	text-align: center;
}
.itemtitle a{
	display: inline-block;
}
.qbtn{
	width: 150px; 
	height: 45px;
	border-radius: 45px;
	font-size: 20px;
}