@charset "UTF-8";
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h3{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 50px 50px;
}
hr{
	margin: 50px 50px;
}

.row .custom-input:first-child{
	margin-top: 40px;
	height: 80px;
}
.row .custom-input:last-child{
	margin-bottom: 20px;
}

.custom-input{
	padding-left: 16px; 
	padding-top: 11px;
}

.custom-input::placeholder {
  font-size: 30px;        
  line-height: 80px;
}

.checked:active{
	background-color: #3498db
}