@charset "UTF-8";
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h3{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 50px 50px;
}
hr{
	margin: 20px 50px;
}
.col .d-flex:first-child{
	margin-top: 20px;
}

.d-flex{
	margin-bottom: 20px;
}
.label{
	padding-right: 16px; 
	padding-top: 11px;
}
.lbbox{
	width: 150px;
	font-size: 18px;
}
.checknick, .auth1, .auth2{
	margin-left: 20px;
}
.btnbox{
	margin-top: 40px;
}
.userout{
	margin-right: 360px;
}
.logout{
	margin-left: 240px;
}
.logoutlink{
	display: inline-block;
}