@charset "UTF-8";
.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
nav{
	display: flex;
	background-color: darkred;
	height: 65px;
	justify-content: center;
	gap: 200px;
	align-items: center;
}
nav div a{
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
h3{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 50px 50px;
}
.hrq{
	margin: 20px 50px;
}
.col .d-flex:first-child{
	margin-top: 20px;
}

.d-flex{
	margin-bottom: 20px;
}
.label{
	padding-right: 16px; 
	padding-top: 11px;
}
.lbbox{
	width: 150px;
	font-size: 18px;
}
.checknick, .auth1, .auth2{
	margin-left: 20px;
}
.btnbox{
	margin-top: 40px;
}
.userout{
	margin-right: 360px;
}
.complete{
	margin-left: 120px;
}
.logoutlink{
	display: inline-block;
}
.error{
	color: red;
	display: block;
	margin-bottom: 25px;
}
/* question.jsp */
.qtitle{
	display: block;
	margin-bottom: 30px; 
}
.photodiv{
	position:relative;
}
.photobox{
	width: 300px;
	height: 250px;
	background-color: #ccc;
	margin-left: 170px;
	display:flex;
	flex-direction: row;
	padding-left: 0;
}
ul{
	padding-left: 0;
}
.photobox li {
  width: 100%;
}
.submitbtn{
	margin-left: 520px;
	margin-bottom: 100px;
}
#photoedit{
	position: absolute;
	background-color: transparent;
	border: none;
	top: 45%;
	left: 23%;
	z-index: 1;
}
/* list.jsp */
.container{
	margin-bottom: 50px;
}
table tr {
  height: 50px;
  vertical-align: middle;
}
.hrl{
	margin: 0;
}
.searchbox{
	position: relative;	
}
.search{
	position: absolute;
	top: 10px;
	right: 25px;
}
.searchdiv{
	margin-top: 25px;
}