<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.recipe.model.RecipeUser" alias="recipeuser"/>
		<typeAlias type="com.recipe.model.Recipe" alias="recipe"/>
		<typeAlias type="com.recipe.model.Question" alias="question"/>
		<typeAlias type="com.recipe.model.Ingredient" alias="ingredient"/>
		<typeAlias type="com.recipe.model.Comment" alias="comment"/>
		<typeAlias type="com.recipe.model.Notification" alias="notification"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/recipeuser.xml"/>
		<mapper resource="mapper/recipe.xml"/>
		<mapper resource="mapper/question.xml"/>
		<mapper resource="mapper/ingredient.xml"/>
	</mappers>
</configuration>